{% extends 'base.html' %}

{%block body %}
<style>
    body {
        min-height: 100%;
        font-family: cursive;
        position: relative;
        min-height: 100vh;
    }


    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        font-size: x-large;
    }

    .content a {
        color: rgb(2, 141, 20);
        transition: 0.3s;
        text-decoration: none;
    }

    .content a:hover {
        color: red;
    }

    .footer {
        position: absolute;
        bottom: 0;
    }
</style>
<div class="content">
    <div class="error">
        404 Page non trouvée
    </div>

    <div class="home">
        Please Return To The <a href="/">Home Page</a>
    </div>
</div>
{% endblock %}